pkgbase = papirus-icon-theme
	pkgdesc = Papirus icon theme
	pkgver = 20240201
	pkgrel = 1
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme
	arch = any
	license = GPL3
	depends = gtk-update-icon-cache
	options = !strip
	options = !strip
	source = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/20240201/papirus-icon-theme-20240201.tar.gz
	sha512sums = ac4b653e904bcda1a643accd43c8fcda2f4d0b5d9844e92c31e3fe950b440f172a53d0042677b902c41769884be54a06ccb42ea01283104b80daf421a70a6516

pkgname = papirus-icon-theme

pkgname = epapirus-icon-theme
	depends = gtk-update-icon-cache
	depends = papirus-icon-theme
