pkgbase = papirus-icon-theme
	pkgdesc = Papirus icon theme
	pkgver = 20250501
	pkgrel = 1
	url = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme
	arch = any
	license = GPL-3.0
	depends = gtk-update-icon-cache
	options = !strip
	source = https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/20250501/papirus-icon-theme-20250501.tar.gz
	sha512sums = 0eca50c296a548733d9cb97f0d9b62cac99d6b1bb473bf016e33188986334b9fc84bc0682e9a6e5339d3d247f2cfefd24a1de3f901de9ffbc9e8a7ad1b5d39f8

pkgname = papirus-icon-theme
